@{
    Layout = "_LayoutSorteio";
    ViewData["Title"] = "Sobre nós";
}

<section id="sobre_nos" class="telas_politicas espacamento-sessao-top espacamento-sessao-botton">
    
    <div class="container">
        <h2 class="title" style="margin-top:50px">Sobre nós</h2>


        <div id="accordion">
            <!-- Card 1 -->
            <div class="card card-custom">
                <div class="hora box">
                    <img src="https://i.imgur.com/CUgnf9F.jpeg" data-canonical-src="https://i.imgur.com/CUgnf9F.jpeg" width="300" height="400" 
                         style="margin-left: auto; margin-right: auto; display: block;"
                         />
                </div>
                <div class="hora box">
                    <div class="texto" style="margin:10px;font-size:15px;text-align:justify;font-size:18px"> Com as constantes mudanças que vivemos nos dias de hoje, aprendemos que empreender é mais que necessário para o desenvolvimento sustentável da sociedade. Somos um casal jovem, que compartilhamos de algumas paixões, sendo uma delas máquinas. Com isso decidimos criar a <strong>VIP Prêmios RN</strong>, para fazer com que mais pessoas realizem seus sonhos, através de participações acessíveis, visando também benefícios as comunidades que em sua maioria não tem acesso. <br /> <strong>Conte conosco para a viabilização do seu sonho!</strong></div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="~/js/Pages/Home/Index.js" asp-append-version="true" type="text/javascript"></script>