@{
    Layout = "_LayoutSorteio";
    ViewData["Title"] = "Termos e condições de uso";
}

<section id="termos_de_uso" class="telas_politicas espacamento-sessao-top espacamento-sessao-botton">
    <div class="container">
        <h2 class="title">Termos e condições de uso</h2>

        <div id="accordion">
            <!-- Card 1 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading1">
                    <h5 class="mb-0"style="background-color:black">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1"
                                aria-expanded="true" aria-controls="collapse1">
                            1.INFORMAÇÕES GERAIS
                        </button>
                    </h5>
                </div>

                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">

                    <div class="card card-custom" >
                        <div class="card-body" >
                            <p>
                                Empresa com responsabilidade legal através do CNPJ: 32.729.275/0001-57.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading2">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2"
                                aria-expanded="false" aria-controls="collapse2">
                            2.REGRAS
                        </button>
                    </h5>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Participação permitida a partir dos 18 anos de idade, sendo vetada a retirada do prêmio se a parte for menor de idade.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading3">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3"
                                aria-expanded="false" aria-controls="collapse3">
                            3. DA RESERVA DE COTAS
                        </button>
                    </h5>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body">

                        <p>
                            A <b>VIP Prêmios RN</b> não disponibilizará Dados Pessoais coletados em seus sites para
                            corretores de lista de e-mail sem seu expresso consentimento.
                            <br><br>

                            A <b>VIP Prêmios RN</b> poderá divulgar os Dados Pessoais coletados a terceiros, nas
                            seguintes situações e nos limites exigidos e autorizados pela Lei:
                        </p>

                        <ul style="list-style: none;">
                            <li>
                                <p>
                                    Os sorteios terão cotas variando entre 100 a 10.000 números, o usuário deve reservar e dentro de dois dias enviar o comprovante para o WhatsApp: (84) 98129-4348 e aguardar recebimento do pagamento.
                                    <br> Quando o pagamento for efetuado, o número (bilhete) será entregue ao usuário.
                                </p>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading4">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4"
                                aria-expanded="false" aria-controls="collapse4">
                            4. PARTICIPAÇÃO GARANTIDA
                        </button>
                    </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">

                        <p>
                            Irá participar aquele que recebeu a confirmação de conciliação bancaria, e que teve gravado o número (bilhete) escolhido ao seu contato.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading5">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5"
                                aria-expanded="false" aria-controls="collapse5">
                            5. EM CASOS DE DUPLICIDADE
                        </button>
                    </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">

                        <p>
                            Caso tenha ocorrido de dois participantes clicar simultaneamente no mesmo número, o número será reservado para aquele que enviar o comprovante primeiro. (Caso seja necessário, será apresentado pela VIP Prêmios RN, provas do horário de envio de tais comprovantes), o participante que enviar após, terá a opção de escolher outro número que esteja "livre".
                        </p>
                        <strong>Caso o cliente que pagou em duplicidade não tiver interessado em outro número, o reembolso será efetuado em até 3 dias úteis através da conta bancaria de origem.</strong>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading6">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6"
                                aria-expanded="false" aria-controls="collapse6">
                            6. DO CANCELAMENTO
                        </button>
                    </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">

                        <p>
                            Os sorteios podem ser cancelados, adiados, caso sejam violadas qualquer clausula do termo de uso.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading7">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7"
                                aria-expanded="false" aria-controls="collapse7">
                            7. DO REEMBOLSO
                        </button>
                    </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">

                        <p>
                            O reembolso de cotas pagas não serão permitidos, só podendo ocorrer caso o sorteio seja cancelado.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading8">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8"
                                aria-expanded="false" aria-controls="collapse8">
                            8. SOBRE OS SORTEIOS
                        </button>
                    </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">

                        <p>
                            Os sorteios irão extrair a numeração no mesmo dia, diretamente do site da CEF, onde serão utilizados os seguintes parametros: <br><strong>RIFAS DE 100 NÚMEROS SERÃO UTILIZADOS OS DOIS ULTIMOS NÚMEROS</strong><br /><strong>RIFAS DE 1000 NÚMEROS SERÃO UTILIZADOS OS TRÊS ÚLTIMOS NÚMEROS.</strong><br/><strong>RIFAS DE 10000 NÚMEROS SERÃO UTILIZADOS OS QUATROS ÚLTIMOS NÚMEROS.</strong>>
                        </p>

                    </div>
                </div>
            </div>
            <!-- Card 9 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading9">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9"
                                aria-expanded="false" aria-controls="collapse9">
                            9. DATA DO SORTEIO
                        </button>
                    </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Os sorteios serão agendados quando vendermos 90% das cotas, sendo avisada a data através de midias sociais, no site e via WhatsApp, o qual será criado um grupo com todos os participantes para informações gerais e data do sorteio. (Caso o cliente não tenha WhatsApp, o mesmo será avisado através de SMS ou ligação por telefone).
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 10 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading10">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10"
                                aria-expanded="false" aria-controls="collapse10">
                            10. ENTREGA DO PRÊMIO
                        </button>
                    </h5>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            A premiação será entregue no estado que se encontra, caso o contemplado seja de outro estado, o mesmo será responsavel por frete, imposto ou condições especificas do veiculo.
                            <br>
                                O participante poderá solicitar antecipadamente informações sobre o veiculo.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 12 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading12">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12"
                                aria-expanded="false" aria-controls="collapse12">
                            12. DO ENVIO
                        </button>
                    </h5>
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            As formas de envio dos prêmios serão combinadas com o ganhador da cota, podendo caso o contemplado queira retirar presencialmente o prêmio.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 13 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading13">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13"
                                aria-expanded="false" aria-controls="collapse13">
                            13. PAGAMENTOS DE TERCEIROS
                        </button>
                    </h5>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            O pagamento poderá efetuado através da conta de terceiros, porém o ganhador será o que tiver com nome e CPF em nossos sistemas.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 14 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading14">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14"
                                aria-expanded="false" aria-controls="collapse14">
                            14. RESPONSABILIDADE DE PAGAMENTOS
                        </button>
                    </h5>
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            A VIP Prêmios RN não se responsabiliza por pagamentos em contas diferentes das quais foram listadas na página de reservas, assim como não aceitamos depósitos por envelope.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 15 -->
            <div class="card card-custom">
                <div class="card-header card-header-custom" id="heading15">
                    <h5 class="mb-0" style="background-color:black">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15"
                                aria-expanded="false" aria-controls="collapse15">
                            15. BOLETO BANCÁRIO
                        </button>
                    </h5>
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            A VIP Prêmios RN poderá na quantidade que desejar, emitir boletos bancários para pagamentos de cotas no sorteio.
                            <br />
                            <strong>O PAGAMENTO SÓ SERÁ CONFIRMADO QUANDO HOUVER COMPENSAÇÃO BANCÁRIA, SENDO DE OBRIGAÇÃO DO COMPRADOR ENVIAR O COMPROVANTE DO PAGAMENTO DO BOLETO.</strong>
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<script src="~/js/Pages/Home/Index.js" asp-append-version="true" type="text/javascript"></script>